<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <title>Search</title>
</head>
<body>
<center><h1>Search</h1></center>
<form action="/doSearch" method="post">
    <div class="container">
	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                <div class="col">
                <input name="txtName" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search names or prices">
                </div>
                <div class="col-auto">
                <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
                    </div>
                    </form>
                    </div>
                    </div>
</div>
</form>
<table style="width:50.8%" align="center" class="table table-bordered">
    {{# each model}}
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Age Range</th>
    </tr>
    <tr>
        <td>{{productName}}</td>
        <td>{{price}}</td>
        <td>{{AgeRange}}</td>
    </tr>
    {{/each}}
</table>
<center><a class="btn btn-primary" href="/">Back to main menu</a></center>
</body>
</html>